<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por María Riquelme Orozco y Jaime Barranco Hernández.
</p>

<img src="/images/yoQuiz.jpg" />
<img src="/images/JaimeBebe.jpg" />

<a href = "https://github.com/mrquelm14/Quiz2017"> Nuestro GitHub</a>