<h1>Ayuda</h1>

<p>
    Quiz es una red social para crear adivinanzas, permite a múltiples usuarios compartir adivinanzas. 
    Las adivinanzas (quizzes) consisten en una pregunta que el usuario tendrá que responder.
</p>
<p>
    Este proyecto, es un proyecto educativo que sirve para mostrar:
</p>
<ul>
    <li>Arquitectura de una aplicación web del lado servidor</li>
    <li>Metodologías de desarrollo</li>
    <li>Los elementos más importantes de un portal web</li>
</ul>
