 <!DOCTYPE html>
<html>
<head>
	<title> Quiz </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
<h1>Binevenido a Quiz </h1>

<!--deberia ser <%= title %> en vez de Quiz pero no me funcionaba a pesar de tener escriot Quiz en index.js-->
<p>El portal donde podrá crear sus propios juegos!</p>
</body>
</html>


